<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <title>SKDD</title>
  </head>
  <body>
    <h1>SKDD</h1>
    <!-- <input type="file" /> -->
    <img src="" id="image-upload-preview" width="400px" height="400px" />
    <label for="image-upload">UPLOAD IMAGE</label>
    <input
      type="file"
      name="Select file"
      id="image-upload"
      accept="image/*"
      onchange="showPreview(event);"
    />
    <button id="submit">submit</button>
    <img src="" alt="" id="op" />
    <script src="js/tensor.js"></script>
  </body>
</html>
