<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">SKDD</span>
        </a>
        <nav
          class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
          <a class="mr-5 hover:text-gray-900" href="/">HOME</a>
          <a class="mr-5 hover:text-gray-900" href="/project">PROJECT</a>
          <a class="mr-5 hover:text-gray-900" href="/about">ABOUT US</a>
          <!-- <a class="mr-5 hover:text-gray-900" href="/contact.html">CONTACT</a> -->
        </nav>
        <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">CONSULT DOCTOR
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button> -->
      </div>
    </header>

    <!-- SECTION DESCRIPTION -->
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                INTRODUCTION
              </h2>
              <p class="leading-relaxed info">
                The skin, the largest organ of the human body, is an important barrier. The main
function of the skin is to protect the human body from harmful substances from the
outside world and prevent the outflow of various nutrients in the human body. In human
productive life, the skin health status is affected by many factors, such as solar radiation,
smoking, drinking, sports activities, viruses, and working environment. These factors not
only affect the integrity of skin function but also cause certain damage to the skin, have
an adverse effect on human health, and can even threaten human life in severe cases.
Therefore, skin disease has become one of the common diseases of human beings. Skin
disease covers all cultural regions and occurs in all ages.<br>
To address the issue of skin disease diagnosis and treatment, people should used
computer-aided diagnosis for automatic skin disease recognition based on the skin
disease images earlier. With the rapid development of the artificial intelligence
technology, deep learning has quickly developed a computer vision. The medical image
processing of skin disease has become an essential component and received great
attention in the cross-field of image processing, machine science, and intelligent
medicine.<br>
We therefore aim to build a web-application that can detect skin diseases. This makes
the diagnosis process easier. The user will have to upload the image of infected skin, the
web-application does feature extraction using CNN algorithm, will make the prediction
and the result will be shown to the user immediately. Therefore delivering easy and
hassle free diagnosis process. If no disease is found, the system provides a negative
result.<br>
              </p>
              
            </div>
          </div>
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                MOTIVATION
              </h2>
              <p class="leading-relaxed info">
                According to WHO, Skin diseases are among the most common of all human health
                afflictions and affect almost 900 million people in the world at any time. Several skin
                diseases are associated with long-term disfigurement, disability and stigma.
                Approximately 30% to 70% of people are in high-risk groups. According to the British
                Skin Foundation Report in 2018, approximately 60% of the British people suffer from
                skin disease; 5.4 million new cases of skin cancer are recorded in the United States every
                year; one in five Americans will be diagnosed with a cutaneous malignancy in their
                lifetime.
              </p>
              
            </div>
            
          </div>
          <!-- PROLEM D -->
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                PROBLEM DEFINITION
              </h2>
              <p class="leading-relaxed info">
                In the field of medicine, skin disease is one of the most common diseases, and its visual
representation is more prominent compared with the other types of diseases. Skin disease brings
not only a significant impact to human beings, such as daily activities damage, loss of the
interpersonal relationship, and internal organ damage, but also death. This condition can also
constitute mental illness, leading to isolation, depression, and even suicide. To address this
problem we propose to design a web application that can predict the skin disorder/disease using
Convolutional Neural Network.
              </p>
              
            </div>
            
          </div>
          <!--  PROBLEM D-->


          <!-- SCOPE OF PROJECT -->
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                SCOPE OF PROJECT
              </h2>
              <p class="leading-relaxed info">
                In India, with prevalence rate of 10 percent, the population affected across India from
skin disease is estimated at nearly 15.1 crore. It is estimated that at a CAGR of 12
percent about 18.8 crore people is likely to suffer from skin disease. With our main
focus on India, we find that almost 22% of people live below the poverty line.<br>
Human diagnosis is based on subjective judgment of the dermatologist so
it is hardly reproducible, unlike computer aided diagnostic systems, which are more
realistic and reliable. This is where our project comes, it reduces diagnosis time and
provide quick health service. And also this method of skin disease detection is cheap
and easily accessible to almost everybody.<br>
Skin disease diagnosis is seen to be complex, particularly when two or
more diseases portray same or similar symptoms, hence requires a dermatologist with
wide experience of skin disease. However with the development in technology and
machine learning has changed all aspects of our day to day life, including medical
field. Many medical field have been developed with help of artificial intelligence and
technology advancement to help both medical doctors and patients in diverse ways.
              </p>
              
            </div>
            
          </div>
          <!-- SCOPE OF PROJECT -->

          <!-- Application -->
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                APPLICATION OF PROJECT
              </h2>
              <p class="leading-relaxed info">
                Proposed solution is designed in a such way that it reaches large number of patients and
it made easily accessible to almost everybody. Reducing the time for diagnosis of
diseases. Also a patient needs a device and internet connection to get diagnosed
reducing the cost to almost zero compared the traditional way. Almost anyone can
access to the web-application at anytime in the world.
              </p>
              
            </div>
            
          </div>

          <!-- Application -->


          <!-- CONCLUSION -->

          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
                CONCLUSION
              </h2>
              <p class="leading-relaxed info">
                Therefore our project can be used as an effective, low cost solution for skin diseases detection by
a computer aided system is proposed to resolve difficulties that’s created from challenges faced
from the dermatologist to recognize the different skin diseases easily. We have learned about
Convolutional Neural Networks and how it is used for image classification. Hence skin diseases
can be diagnosed using this technique and also be classified using the same. Using advanced
computational techniques and large dataset, the system can match the results of a dermatologist
thus improving the quality standards in the area of medicine and research.
              </p>
              
            </div>
            
          </div>

          <!-- CONCLUSION -->
          

         
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">SKDD</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2022 SKDD —
          <a
            href="https://twitter.com/knyttneve"
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@knyttneve</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
