* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-inner {
  /* background-color: #fff6ea; */
  width: 50%;
  margin: auto;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
}
#submit {
  display: none;
}
.container-form {
  /* background-color: wheat; */
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 5px dashed gray;
  max-height: 80%;
  padding: 2.5rem;
  border-radius: 10%;
}

.result {
  margin: auto;
}

#image-upload {
  margin: 2.5rem 1rem;
  /* background-color: yellow; */
  font-size: medium;
}

img {
  width: 400px;
  height: 400px;
  margin: auto;
}

a {
  cursor: pointer;
}

footer {
  margin-top: auto;
}

.info {
  line-height: 2rem !important;
  letter-spacing: 0.1rem;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(100, 102, 233);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
